.main-wrapper
{
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding: 20px 0 20px 0;
    width: 100%;
    text-align: center;
    border-radius: 50px;
}
.forget-password
{
   position: fixed;
   top: 16%;
   left: 50%;
   transform: translate(-50%);
}
.forget-password img
{
    width: 30%;
    height: 20%;
}
.forget-password h2
{
    font-weight: 700;
}
.forget-password p
{
    color: rgb(39, 36, 36);
    padding: 0;
    margin: 0;
}

.forget-password input
{
    padding: 4px 80px;
    margin-top: 12px;
}
.forget-password label
{
    color: gray;
    font-size: 16px;
}
.forget-password .btn
{
    padding: 4px 113px;
}
.forget-password ul li
{
    list-style-type: none;
}
.forget-password ul li Link
{
    text-decoration: none;
    margin-left: 40px;
}



