.header-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
.search
{
    border:0.5px solid  rgb(216, 219, 216);
    padding: 3px;
}
.search input{
    border: none;
    outline: none;
    background: transparent;  
}
.search i
{
    color: rgb(175, 182, 182);
    font-size: 16px;
}
.links{
    display: flex;
    align-items: center;
}

.link{
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}
.links i
{
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
}
.link .log-out
{
  text-decoration: none;
  border: 0.5px solid rgb(211, 208, 208);
  padding: 4px 16px;
  border-radius: 50px;
  color: rgb(113, 113, 167);
  font-weight: bold;
  font-size: 16px;
}
.link .log-out:hover
{
  background-color: rgb(243, 240, 240);
}
.dropbtn {
  text-decoration: none;
  border: 0.5px solid rgb(211, 208, 208);
  padding: 4px 16px;
  border-radius: 50px;
  color: rgb(113, 113, 167);
  font-weight: bold;
  font-size: 16px;
  margin-right: 12px;
}
.logout button
{
  border: 0.5px solid transparent;
  margin-right: 12px;
  background-color: transparent;
  margin-top: 12px;
  font-size: 16px;
}
.logout button:hover
{
  font-weight: bold;
}
.logout button i
{
  color: rgb(147, 153, 147);
}
  .dropdown {
    position: relative;
    display: inline-block;
}
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content i
  {
    font-size: 18px;
    color: rgb(80, 78, 78);
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
